<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >Williams Isaac</div>
    <div class="buttons">
        <a class="button login-register" ng-click="addcomment()">
            Post Comment
        </a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <!-- <h2 class="dm-nowrap-2">Tell Category: Politics</h2> -->
                <div class="col col-33 col-offset-25">
                                    <img src="img/play.png" width="100px" style="margin-left: 15px">
                                    </div>
                
            </div>
            <div class="item item-avatar">
                <img src="img/mike.png">
                <h2>Williams Isaac</h2>
                <p>
                    <a href="#" class="subdued">Tells：300</a>
                    <a href="#" class="subdued">Followers：300</a>
                </p>
            </div>
            <!-- <div class="item item-body"> -->
                <!-- <h2 class="dm-nowrap-2" style="margin: 0px;">Tells that：</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p> -->
            <!-- </div> -->
            <h5>&nbsp;&nbsp;Comments：</h5>
            <div class="list">

  <div class="item item-avatar item-button-right">
    <img src="img/mike.png">
    <h2>Bamidele Oni</h2>
    <p>
        <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>(330)
                        </a>
                        <a class="tab-item" href="#/tab/postMsg">
                            <i class="icon ion-chatbox"></i>(300)
                        </a>
                        <a class="tab-item" href="#/tab/giveup">
                            <i class="icon ion-sad"></i>(1)
                        </a>
                    </div>
    </p>
    <button class="button button-positive">
      <i class="icon ion-ios-play-outline"></i>
    </button>
  </div>

  <div class="item item-avatar item-button-right">
    <img src="img/mike.png">
    <h2>Olatunji Micheal</h2>
    <p>
    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>(330)
                        </a>
                        <a class="tab-item" href="#/tab/postMsg">
                            <i class="icon ion-chatbox"></i>(300)
                        </a>
                        <a class="tab-item" href="#/tab/giveup">
                            <i class="icon ion-sad"></i>(1)
                        </a>
                    </div>
    </p>
    <button class="button button-positive">
      <i class="icon ion-ios-play-outline"></i>
    </button>
  </div>

  <div class="item item-avatar item-button-right">
    <img src="img/mike.png">
    <h2>Ilavare Anna</h2>
    <p>
        <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>(330)
                        </a>
                        <a class="tab-item" href="#/tab/postMsg">
                            <i class="icon ion-chatbox"></i>(300)
                        </a>
                        <a class="tab-item" href="#/tab/giveup">
                            <i class="icon ion-sad"></i>(1)
                        </a>
                    </div>
    </p>
    <button class="button button-positive">
      <i class="icon ion-ios-play-outline"></i>
    </button>
  </div>
</div>
</div>

    </ion-content>
</ion-view>
