<ion-header-bar align-title="center" class="bar-stable">
    <div class="h1 title login-title" >Post Tell</div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="blank-h12"></div>
        <div class="card">
            <a href="#/tab/addPost" class="subdued">
                <div class="item item-text-wrap" href="#/tab/addPost">
                    Live
                </div>
            </a>
        </div>
        <div class="card">
            <a href="#/tab/addAct" class="subdued">
                <div class="item item-text-wrap">
                    Record
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
