<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >Record Tell</div>
    <div class="buttons">
      <a class="button login-register" ng-click="add()">
        Cancel
      </a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="list card">
            <h5>&nbsp;&nbsp;Options：</h5>
            <div class="item"style="padding: 4px;">
                <div class="row" >
                    <div class="col group-cell-select gact">Auto Post</div>
                    <div class="col group-cell-select">Schedule</div>
                    <div class="col group-cell-select">Draft</div>
                </div>
            </div>
            <div class="row"><div class="col col-33 col-offset-33"><i class="ionicons ion-ios-mic" style="font-size: 100px; margin-left:25px;"></i><br/></div></div>
            <div class="item"style="padding: 4px;">
                <div class="row" >
                    <div class="col group-cell-select"><i class="ionicons ion-ios-pause" style="font-size: 20px; margin-right:15px;"></i>Pause</div>
                    <div class="col group-cell-select"><i class="ionicons ion-android-checkbox-blank" style="font-size: 20px; margin-right:15px;"></i>Stop</div>
                    <div class="col group-cell-select"><i class="ionicons ion-android-close" style="font-size: 20px; margin-right:15px;"></i>Cancel</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
