<ion-header-bar align-title="center" class="bar-stable">
    <div class="h1 title login-title" >Friends</div>
    <div class="buttons">
        <!-- <a ng-show="type=='group'" class="button login-register" href="#/tab/createGroup">
            Create Groups
        </a> -->
    </div>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <div class="row" style="border-bottom: 1px solid lightgray;">
            <div class="col tabs-striped">
                <div class="col-demo main-select" ng-class="{activity : type == 'friend'}" ng-click="changeType(0)"><i class="ionicons ion-person" style="font-size: 20px; margin-right: 5px;"></i>Recent</div>
            </div>
            <div class="col">
                <div class="col-demo main-select" ng-class="{activity : type == 'group'}" ng-click="changeType(1)"><i class="ionicons ion-person-stalker" style="font-size: 20px; margin-right: 5px;"></i>New</div>
            </div>
            <div class="col">
                <div class="col-demo main-select" ng-class="{activity : type == 'focus'}" ng-click="changeType(2)"><i class="ionicons ion-ios-people" style="font-size: 20px; margin-right: 5px;"></i>All</div>
            </div>
        </div>

        <!-- 类型列表-->
        <ion-list>
            <!-- 好友-->
            <div ng-if="type == 'friend'">
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/friendDetail">
                    <img ng-src="img/mike.png">
                    <h2>Mike Bamiloye</h2>
                    <!-- <p>准备吃饭了...</p> -->
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Unfollow
                    </ion-option-button>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/friendDetail">
                    <img ng-src="img/mike.png">
                    <h2>Olamide Jones</h2>
                    <!-- <p>准备吃饭了...</p> -->
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Unfollow
                    </ion-option-button>
                </ion-item>
            </div>

            <!-- 群-->
            <div ng-if="type == 'group'">
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/friendDetail">
                    <img ng-src="img/mike.png">
                    <h2>Olatunde Lola</h2>
                    <!-- <p>准备吃饭了...</p> -->
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Unfollow
                    </ion-option-button>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/friendDetail">
                    <img ng-src="img/mike.png">
                    <h2>Isaiah Olamide</h2>
                    <!-- <p>准备吃饭了...</p> -->
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Unfriend
                    </ion-option-button>
                </ion-item>
            </div>

            <!-- focus-->
            <div ng-if="type == 'focus'">
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/friendDetail">
                    <img ng-src="img/mike.png">
                    <h2>Ilavare Gbenga</h2>
                    <!-- <p>准备吃饭了...</p> -->
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Unfollow
                    </ion-option-button>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/friendDetail">
                    <img ng-src="img/mike.png">
                    <h2>Olamide Emmanuel</h2>
                    <!-- <p>准备吃饭了...</p> -->
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Unfollow
                    </ion-option-button>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
