<ion-header-bar align-title="center" class="bar-stable">
    <div style="position: relative;width: 100%; top: 8px;left: 0px;height: 28px;width: 100%;background-color:transparent;">
        <a class="subdued" style="position: absolute;left: 4px;bottom: 5px;color: #435356;border: 0;" href="#/tab/location" >
            <span style="border: 0;font-size: 12px;"><i class="icon ion-chevron-down"></i></span>
        </a>
        <a class="select-item" ng-class="{activities : type == 'discovery'}" ng-click="changeType(0)" style="border-radius: 28px 0 0 28px;right: 50%;">
            Feeds
        </a>
        <a class="select-item" ng-class="{activities : type == 'location'}" ng-click="changeType(1)" style="border-radius: 0 28px 28px 0px;left: 50%;">
            Live
        </a>
        <a class="icon ion-ios-search-strong" href="#/tab/search" style="color: #435356;font-size: 28px;position: absolute;right: 10px;bottom: 0px;"></a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-refresher on-refresh="doRefresh()" pulling-text="Pulling" refreshing-text="Refreshing" refreshing-icon="ion-loading-b"></ion-refresher>
        <div class="content" style="overflow: inherit">
            <!-- 发现页面-->
            <div ng-if="type == 'discovery'">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/mike.png">
                        <h2>Williams Isaac</h2>
                        <p>
                            <a href="#" class="subdued">Tells：300</a>
                            <a href="#" class="subdued">Followers：300</a>
                        </p>
                    </div>
                    <a class="item item-body" href="#/tab/postMsg">
                        <ion-slide-box slide-interval="100" does-continue="true" show-pager="false">
                            <ion-slide>
                                <!-- <img src="img/play.png" class="fullimage"> -->
                                <div class="col col-33 col-offset-25">
                                    <img src="img/play.png" width="100px" style="margin-left: 15px">
                                    </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="row">
                                  <div class="col col-33 col-offset-33"><i class="ionicons ion-play" style="font-size: 50px;"></i></div>
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                       <!--  <span class="dm-nowrap-2" style="font-size: 12px">
                            Listen to my tell
                        </span> -->
                    </a>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-thumbsup"></i>Likes(330)
                        </a>
                        <a class="tab-item" href="#/tab/postMsg">
                            <i class="icon ion-chatbox"></i>Comments(300)
                        </a>
                        <a class="tab-item" href="#/tab/giveup">
                            <i class="icon ion-sad"></i>Reactions(1)
                        </a>
                    </div>
                </div>
            </div>

            
            <div ng-if="type == 'location'" style="z-index: 5;">
                <div class="row" style="border-bottom: 1px solid lightgray;">
                    <div class="col tabs-striped">
                        <div class="col-demo main-select" ng-class="{activity : act == 'activity'}" ng-click="changeAct(0)">Followers</div>
                    </div>
                    <div class="col">
                        <div class="col-demo main-select" ng-class="{activity : act == 'personal'}" ng-click="changeAct(1)">General</div>
                    </div>
                    <div class="col">
                        <div class="col-demo main-select" ng-class="{activity : act == 'group'}" ng-click="changeAct(2)">Random</div>
                    </div>
                </div>

                
                <div ng-if="act == 'activity'">
                    <div class="backgound-default group-list">
                        <a href="#/tab/actMsg">
                            <img class="img-default group-img" src="img/perry.png">
                            <span class="group-title dm-nowrap-1">Micheal Johnson</span>
                            <span class="group-position dm-nowrap-1">Started Live: 3min ago</span>
                            <span class="group-distance"><button class="button button-outline button-positive button-small"><i class="ionicons ion-plus-round"></i>Join Tell</button></span>
                            <span class="group-member">Tellers：5</span>
                            <span class="group-fun"></span>
                        </a>
                    </div>
                    <div class="backgound-default group-list">
                        <a href="#/tab/actMsg">
                            <img class="img-default group-img" src="img/max.png">
                            <span class="group-title dm-nowrap-1">Opeyemi Jackson</span>
                            <span class="group-position dm-nowrap-1">Started Live: 3min ago</span>
                            <span class="group-distance"><button class="button button-outline button-positive button-small"><i class="ionicons ion-plus-round"></i>Join Tell</button></span>
                            <span class="group-member">Tellers：5</span>
                            <span class="group-fun"></span>
                        </a>
                    </div>
                </div>

                
                <div ng-if="act == 'personal'">
                    <div class="backgound-default group-list">
                        <img class="img-default group-img" src="img/perry.png">
                        <span class="group-title dm-nowrap-1">Katie Perry</span>
                            <span class="group-position dm-nowrap-1">Started Live: 8min ago</span>
                            <span class="group-distance"><button class="button button-outline button-positive button-small"><i class="ionicons ion-plus-round"></i>Join Tell</button></span>
                            <span class="group-member">Tellers：10</span>
                            <span class="group-fun"></span>
                    </div>
                </div>

                
                <div ng-if="act == 'group'">
                    <div class="backgound-default group-list">
                        <img class="img-default group-img" src="img/max.png">
                        <span class="group-title dm-nowrap-1">Max Ireman</span>
                            <span class="group-position dm-nowrap-1">Started Live: 1min ago</span>
                            <span class="group-distance"><button class="button button-outline button-positive button-small"><i class="ionicons ion-plus-round"></i>Join Tell</button></span>
                            <span class="group-member">Tellers：2</span>
                            <span class="group-fun"></span>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
