<ion-slide-box active-slide="myActiveSlide"  style="width: 100%;height: 100%;">
  <ion-slide>
    <div class="box" style="background-image: url('img/bg1.jpg');background-size: 100% 100%; width: 100%;height: 100%;"></div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow" style="background-image: url('img/bg2.jpg');background-size: 100% 100%; width: 100%;height: 100%;"></div>
  </ion-slide>
  <ion-slide>
    <div class="box pink" style="background-image: url('img/bg2.jpg');background-size: 100% 100%; width: 100%;height: 100%;"></div>
  </ion-slide>
</ion-slide-box>
<span style="position: absolute;bottom: 13px;left: 0px;width: 50%;text-align: center;color: white;">Create an Account</span>
<button class="button button-block  button-positive" ui-sref="register" style="position: absolute;bottom: -10px;left: 0px;width: 50%;background-color: blue;opacity: 0.4; margin-right: 5px; border-radius: 0px">
</button>
<button class="button button-block  button-assertive" ui-sref="login" style="position: absolute;right:0px;width: 50%;bottom: -10px;margin-left: 5px; border-radius: 0px"">
  Login
</button>
