<ion-header-bar align-title="center" class="bar-stable">
    <div class="h1 title login-title" >Messages</div>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                <img ng-src="img/mike.png">
                <h2>Onadeko Opeyemi</h2>
                <p>Hi, I am Onadeko Opeyemi, I would like...</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/groupmsg">
                <img ng-src="img/mike.png">
                <h2>Ilavare Gbenga</h2>
                <p>Do you know that you can be the best man on...</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/activitymsg">
                <img ng-src="img/mike.png">
                <h2>Adenekan Esther</h2>
                <p>Hey Isaac, Do you know I called you on...</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
