<ion-header-bar align-title="center" class="bar-stable">
    <div class="h1 title login-title" >My Profile</div>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-list>
            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/personal">
                <img ng-src="img/mike.png">
                <h2>Williams Isaac</h2>
                <p>I am a Software Engineer</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <a class="item item-icon-left" href="#/tab/friend">
                <i class="icon ion-person-stalker"></i>
                Followers
                <span class="badge badge-positive">3,780</span>
            </a>
            <a class="item item-icon-left" href="#/tab/mypost">
                <i class="icon ionicons ion-ios-compose"></i>
                Posts
                <span class="badge badge-positive">167</span>
            </a>
            <a class="item item-icon-left" href="#/tab/set">
                <i class="icon ion-ios-gear-outline"></i>
                Settings
            </a>
            <a class="item item-icon-left" href="#/tab/set">
                <i class="icon ionicons ion-alert"></i>
                Report Abuse
            </a>
            <a class="item item-icon-left" href="#/tab/set">
                <i class="icon ionicons ion-ios-paper"></i>
                Terms and Conditions
            </a>
        </ion-list>
    </ion-content>
</ion-view>