<!-- <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >我的活动</div>
    <div class="buttons">
        <a class="button login-register" href="#/tab/addMAct">
            发布
        </a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/tab/mpost">
                <img src="img/perry.png">
                <h2>帖子199</h2>
                <p class="friend-detail-p">日系漫画分....央视国企乱七八糟....奇奇怪收拾收放大师傅是的拾fdaf 怪...</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/mpost">
                <img src="img/perry.png">
                <h2>帖子198</h2>
                <p class="friend-detail-p">日系漫画分....央视国企乱七八糟....奇奇怪收拾收放大师傅是的拾fdaf 怪...</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/mpost">
                <img src="img/perry.png">
                <h2>帖子198</h2>
                <p class="friend-detail-p">日系漫画分....央视国企乱七八糟....奇奇怪收拾收放大师傅是的拾fdaf 怪...</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tab/mpost">
                <img src="img/perry.png">
                <h2>帖子198</h2>
                <p class="friend-detail-p">日系漫画分....央视国企乱七八糟....奇奇怪收拾收放大师傅是的拾fdaf 怪...</p>
            </a>
        </div>
    </ion-content>
</ion-view>
 -->