<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="back()">
        </button>
    </div>
    <div class="h1 title login-title" >Create DoTell Account</div>
</ion-header-bar>
<ion-content  has-bouncing="true" overflow-scroll="true">
  <div class="login-mian">
    <div class="register-content">

      <div class="input-wrap row row-center">
        <label  class="left-icon-wrap">
          <i class="ion ion-iphone"></i>
        </label>
        <input type="text" class="col login-input" placeholder="Username">
      </div>
      <div class="input-wrap row row-center mt-20">
        <label  class="left-icon-wrap">
          <i class="icon icon-psw"></i>
        </label>
        <input type="{{show_psd ? 'text' : 'password'}}"  class="col login-input" placeholder="Password" ng-model="user.password" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
        <button class="psd-control" ng-click="showPassword()">
          <i class="icon  {{show_psd ? 'icon-psddisvisiable' : 'icon-psdvisiable'}} " ></i>
        </button>
      </div>

      <div class="input-wrap row row-center mt-20">
        <label  class="left-icon-wrap">
          <i class="icon ion-ios-email-outline"></i>
        </label>
        <input type="text" class="col login-input" placeholder="Email Address">
        <button class="psd-control">
          <div class="button-verification-code">
           Verify
          </div>
        </button>
      </div>
      <!-- <p class="text"></p> -->
      <div class="blank-h12"></div>
      <button class="button button-block  button-positive" ng-click="comfirm()">
        Register
      </button>
      <p class="text">By Clicking, You accept DoTell's <a class="link-text" href="#/protocolText">Terms and Condition</a></p>
    </div>
    
  </div>
    <!-- <div class="dm-date-picker" data-dateok="{{dateok}}" okcallback="enabledBook(day)" notokcallback="disabledBook(day)"></div> -->
</ion-content>
