<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >Account Settings</div>
</ion-header-bar>
<ion-view>
    <ion-content>
        <div class="blank-h12"></div>
        <!-- <ion-item href="#/tab/mine/content-mine/about">
            <span class="msg">Change Password</span>
            <i class="icon ion-chevron-right mine-msg-right"></i>
        </ion-item> -->
        <ion-item href="">
            <span class="msg">Change Password</span>
            <i class="icon ion-chevron-right mine-msg-right"></i>
        </ion-item>
        <ion-item href="">
            <span class="msg">Report Abuse</span>
            <i class="icon ion-chevron-right mine-msg-right"></i>
        </ion-item>
        <ion-item href="">
            <span class="msg">Request feature</span>
            <i class="icon ion-chevron-right mine-msg-right"></i>
        </ion-item>
        <ion-item href="">
            <span class="msg">Feedback</span>
            <i class="icon ion-chevron-right mine-msg-right"></i>
        </ion-item>
        <div class="blank-h12"></div>
        <button class="button button-positive mine-verfy-btn" ng-click="comfirm()">Logout</button>
    </ion-content>
</ion-view>