<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-hide="$root.hideTabs">
  <!-- Consult Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Inbox" icon-off="ion-chatbubble-working" icon-on="ion-chatbubble-working" href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

 <!--  <i class="icon ion-plus-round tab-custom-icon"></i> -->
  <!-- <i class="ionicons ion-record tab-custom-icon" style="color: black; background-color: transparent; font-size: 30px;"></i> -->
  <ion-tab title="Post Tell" icon-off="ionicons ion-ios-mic icon-size-big" icon-on="ionicons ion-ios-mic icon-size-big" href="#/tab/add">
    <ion-nav-view name="tab-add">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Followers" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/friend">
    <ion-nav-view name="tab-friend"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/mine">
    <ion-nav-view name="tab-mine"></ion-nav-view>
  </ion-tab>

</ion-tabs>
